*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}
body{
background-color: #000;
height:100vh;
width:100%;
color: #fff;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 30px;
}
.list li:nth-child(1){
    margin-right: 50px;
}
.list-item{
   margin-right: 50px; 
}
.list li:nth-child(6){
    margin-right: 80px;
}
.logo{
margin-left: 30px;
margin-top: 30px;
}
.icon{
    filter: invert(1);
    margin-left: 5px;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content{
    margin-left: 30px;
}
.content h5{
    color: rgb(201,27,40);
    font-size: 20px;
}
.content h1{
    font-size: 50px;
    font-weight: 700;
}
.content p{
    font-size: 20px;
   color:#fff;
   
    padding-right: 200px;
}
.content button{
    color: #fff;
    padding:12px 25px;
   background-color:rgb(201,27,40) ;
   margin-top: 20px;
   font-weight: 700;
}
.col{
    background-color:rgba(100%,100%,100%,0.1);
    height: 570px;
    width: 690px;
    position: absolute;
    top: 36.5rem;
    z-index: -1;
}
.cards-part1{
    display: flex;
    flex-direction: row;
    justify-content:center;
   /* align-items: center;*/
   margin-top: 60px;
   
}
.card1{
    margin-right: 20px;
}
.card1, .card3{
    background-color: rgba(255,255,255,0.1);
    width: 300px;
    height: 200px;

}
.card1 :nth-child(2), .card1 :nth-child(3), .card1 :nth-child(4),
.card2 :nth-child(2), .card2 :nth-child(3), .card2 :nth-child(4),
.card3 :nth-child(2), .card3 :nth-child(3), .card3 :nth-child(4)
{
    margin-left: 50px;
}
.card1 img, .card3 img {
    margin-left: 40px;
}
.card2 img{
    margin-left: 40px;
}
.card1 h3,.card2 h3, .card3 h3 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 5px;
}

.card1 p,.card3 p, .card2 p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 100;
}
.card1 h5 , .card3 h5{
    
    color: rgb(201,27,40);
}
.card1 h5::after , .card3 h5::after{
    content: "\2192";
    margin-left: 10px;
    font-size: 20px;
}
.card2{
    width: 300px;
    height: 200px;
    background-color: rgb(201,27,40);
    margin-right: 20px;
}
.card2 h5::after{
    content:"\2192" ;
    margin-left: 10px;
    font-size:20px ;
}
.card2 h5{
    color: #fff;
}
.cards-part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.small-cards{
    display: flex;
    flex-direction: row;
    margin-right: 160px;
}

.small-card1,.small-card2,.small-card3,.small-card4{
    background-color: rgba(255,255,255,0.1);
    width:290px;
    height: 80px;
    text-align: center;
}
.small-card1 h2,.small-card2 h2, .small-card3 h2, .small-card4 h2{
    font-size: 35px;
    color: rgb(201,27,40);
    padding-top: 10px;
}
.small-card1 h6, .small-card2 h6, .small-card3 h6, .small-card4 h6{
    font-size: 20px;
    font-weight: 100;
}
.left{
    margin-left: 300px;
}
.left h1{
    text-align: center;
    font-size: 80px;
    color: rgb(201,27,40);

}
.small-card1 , .small-card3{
    margin-right: 30px;
    margin-bottom: 20px;
}
.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-left: -20px;
}
.mid div p{
    font-size: 17px;
    font-weight: 100;
    
}
.mid  button{
    color: #fff;
    padding:12px 25px;
   background-color:rgb(201,27,40) ;
   margin-top: 20px;
   font-weight: 700;
}
.card-imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.card-img1,.card-img2,.card-img3,.card-img4{
    margin-right: 40px;
    background-color: rgba(100%,100%,100%,0.1);
    width: 450px;
    height: 300px;
}
.card-img1 img ,.card-img2 img, .card-img3 img,.card-img4 img{
    margin-left: 50px;
    margin-top: 40px;
}
.card-img1 , .card-img2{
    margin-bottom: 70px;
}
.card-img1 h4, .card-img2 h4, .card-img3 h4, .card-img4 h4{
    margin-top: 70px;
    font-size: 25px;
}
.card-img1 h5,.card-img2 h5, .card-img3 h5, .card-img4 h5{
    color: rgb(201,27,40);
    font-size: 13px;
    margin-top: -0.5rem;

}
.card-img1 h5::after , .card-img2 h5::after, .card-img3 h5::after ,.card-img4 h5::after{
    content: "\2192";
    font-size: 30px;
    margin-left: 5px;
}
.section{
    display: flex;
    flex-direction: row;
  margin-top: 120px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(100%,100%,100%,0.1);
  height: 200px;
  width: 1000px;
  margin-left: 150px;
  
  
}
.section div h1{
    font-size: 40px;
   /* text-align: left;*/
   margin-left: -4rem;
   line-height: 40px;
}
.section div p{
    font-size: 20px;
    font-weight: 100;
    margin-top: 13px;
    margin-left: -4rem;
}
.section button{
    color: #fff;
    padding:12px 25px;
   background-color:rgb(201,27,40) ;
   margin-top: 20px;
   font-weight: 700;
   border-color: transparent;
}
.footer-top ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.footer-top ul li{
    margin-right: 3rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    background-color: rgba(100%,100%,100%,0.1);
    height: 100px;
}
.footer img{

   text-align: center;
}
.footer div{
    text-align: center;
    display: flex;
    flex-direction: row;
    
}
.footer div :nth-child(1) , .footer div :nth-child(2){
    margin-right: 50px;
}
.footer div :nth-child(3){
    margin-right: 450px;
}

/*Media Queries*/

@media screen and (max-width:480px){
    .header img{
        width: 200px;
    }
    .list{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    .content p{
        width: 300px;
        padding-right: 30px;
    }
    .content h5, .content h1{
        width: 300px;
    }
    .cards-part1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card3{
        margin-right: 20px;
    }
    .left{
        margin-left: 140px;
    }
    .small-cards{
        display: flex;
        flex-direction: column;
       
    }
    .small-card1,.small-card2,.small-card3,.small-card4{
        width: 190px;
    }
    .small-card3{
        margin-top: 20px;
    }
    .mid{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .mid div p{
        font-size: 15px;
    }
    .card-imgs{
        display: flex;
        flex-direction: column;
    }
    .card-img1,.card-img2,.card-img3,.card-img4{
        width: 370px;
    }
    .card-img2{
        margin-top: 30px;
    }
    .card-img1 img, .card-img2 img, .card-img3 img, .card-img4 img{
        margin-left: 15px;
    }
    .section{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        width: 370px;
        height: 300px;
    }
    .section div h1{
        margin-left: 60px;
        font-size: 30px;
        width: 300px;
    }
    .section div p{
        margin-left: 60px;
        font-size: 20px;
        width: 300px;
    }
    .footer-top ul li{
        margin-right: 20px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .col{
        width: 400px;
    }
    .footer div :nth-child(1) , .footer div :nth-child(2){
        margin-right:20px;
    }
    .footer div :nth-child(3){
        margin-right: 0px;
    }
}

@media (min-width:481px) and (max-width:768px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .list-item{
        margin-left: 50px;
    }
    .card2 h3{
        width: 200px;
    }
    .mid div{
        margin-left: 0px;
    }
    .card-imgs{
        margin-left: 300px;
    }
    .section{
        margin-left: 50px;
    }
   .footer{
    width: 1000px;
    margin-left: 50px;
   }
}

@media (min-width:769px) and (max-width:1024px)
{
    .section{
        margin-left: 0px;
    }
}